$overlay-color: rgba(0,0,0,0.5);
$block-base-size: 16rem;
$base-gap: 0.5rem;

$color-ok: rgb(133, 253, 189);
$color-bad: rgb(255, 166, 166);
$color-draft: rgb(182, 238, 255);
$color-pending: rgb(255, 254, 182);
$color-highlight: rgb(124, 123, 173);

$block-columns: 4;
$block-gap: 1%;

$block-width: percentage(1/$block-columns) - $block-gap * 2;



.o_sass_project_grid {
    .create-block {
        .form-build {
            background: lighten($color-highlight, 20%);
            padding: $base-gap;
            margin: $base-gap 0rem;
        }
    }

    .project-details {
        background: lighten($color-highlight, 20%);
        flex-basis: 20rem;
        padding: $base-gap;
    }

    .builds {
        .project-build {
            display: flex;
            flex-wrap: wrap;
            border-top: 1px solid $overlay-color;
            width: 100%;

            .build {
                &.new {
                    background-color: $color-ok;
                }

		&.state-new {
                    background-color: $color-draft;
		}

		&.state-preparing {
                    background-color: $color-pending;
		}

		&.state-done {
                    background-color: $color-ok;
		}

		&.state-failed {
		    background-color: $color-bad;
		}

                flex-basis: $block-width;
                padding: $base-gap;
                margin: $block-gap;
                box-shadow: 1px 0px 7px $overlay-color;
            }
        }
    }

    .project {
        flex-basis: 18%;
        margin: 1%;
        padding: $base-gap;
        border: 1px solid $overlay-color;
    }
}

.justify-between {
    justify-content: space-between;
}

.build-log-frame {
  width: 100%;
  min-height: 40rem; 
}
